<div class="vh-100" style="background-color: rgb(154, 154, 154)">
    <header class="p-2 bg-dark text-white">
        <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-warning text-decoration-none">
            H-Quiz
            </a>

            <ul class="nav col-12 ms-5 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2">Login</button>
            <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
        </div>
        </div>
    </header>
    <div class="pt-4 container">
        <form action="#">
        <h3></h3>
          <div class="ps-4 content-option">
          </div>
          
        </form>
        <button type="button" id="next" class="btn btn-outline-warning btn-sm">Next</button>
    </div>
    <div class="position-absolute bottom-0 w-100">
        <footer class="bg-dark text-center">
            <div class="container p-2 pb-0">
                <section class="">
                <form action="">
                    <div class="row d-flex justify-content-center">
                    <div class="col-md-5 col-12">
                        <div class="form-outline mb-2">
                        <input type="email" id="form5Example27" placeholder="nhập câu hỏi..." class="form-control 
                        bg-dark shadow-none text-light" />
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn mb-2" style="background-color:#ffe057">
                        Gửi
                        </button>
                    </div>
                    </div>
                </form>
                </section>
            </div>  
        </footer>
    </div> 
</div>
<script src="/public/js/quiz.js" type="module"></script>
<script src="/public/js/storage/quiz.js" type="module"></script>

